*
{
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  font-family: cursive;
}
body
{
    background-color:#0B1120;
    
}
  form
  {
    
    font-family: cursive;
    font-size:30px;
    padding: 30px;
     margin-top: 100px;    
    
  }
  input,select,label
  {
    margin-bottom:20PX;
    width: 200PX;
    color:white;

  } 
  button
  {
    width: 150px;
    height: 50px;
    font-size:25px;
    background-color:purple;
  }

  .side
  {
    float: right;
    position: relative;
    bottom: 300px;
    
  }

  
  .sidebar
  {
    
    width: 250px;
    height: auto;
    background-color: #0F172A;
    
  }
  nav
  {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0px 0px 40px;
  }
  nav li a
  {
    text-decoration: none;
    font-size:25px;
    color: white;
  }
  nav li
  {
    list-style-type: none;
  }

  nav li :hover
  {
    text-decoration:underline;
  }

  nav li a:active
  {
    background-color: aquamarine;
  }
  .container
  {
    display: grid;
    grid-template-columns: 250px 1fr ;
    
    
    
  }
  .cards
  {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
     padding: 20px;  
     bac
           
  }
  .row1
  {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
  }
  .row2
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  
  }
  .row2 .card{
    height: 450px;
    width: 35 0px;
  }
  .row3
  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    

  }
  .row3 .card
  {
    height: 350px;
    width: 350px;
    margin-left: 20px;
  }
  .card
  {
  
    height: 150px;
    background-color:#111827;
    padding:10px;
  }
  .cards img
  {
    width: 25px;
    height: 25px;
  }
  .content
  {
    position:relative;
    bottom: 30px;
    left: 30px;
    
  }
  
    
    .task,span
    {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      padding: 5px; 
  
    }


    .tick
    {
      display: flex;
      justify-content: center;
      width:15px;
      height:15px;
      align-items: center;
      border-radius:50%;
      border: 1px solid green;
      background-color: green;
      margin-left: auto;
    
    }

    .food 
     {
      background-color:#0B1120;
      margin: 10px;
     }
    .food ul
    {
      margin-left: 20px;
    }
  
     .work
     {
      display: flex;
      justify-content: space-between;
      padding: 6px;
     } 

     .Register label, input
     {
      color: antiquewhite;
      font-size: medium;
     }
   form
   {
      padding: 0px;
      line-height:15px;
   }

   .Register button
    {
      font-size: small;
      height: 20px;
      width: 200px;
    
  
    }
    b{
      color: blueviolet;
    }
    .burn
    {
      display: flex;    
    
      margin-top: 100PX;
      gap: 10PX;
      font-size: 20px;
    }
      .graph
      {
        display: flex;
        align-items: flex-end;
        position: relative;  
        gap: 15PX;
        border-left: 1px solid gray;
        border-bottom: 1px solid gray ;
        padding-left: 10px;
        
  
      }
      .full
      {
        display: flex;
        position: relative;
        
        width:25px;
        height:150px;
        background-color: purple;
      }
      i
      {
        margin-left:50px;
        word-spacing: 5px;
      }
      .value
      {
        position: relative;
        bottom: 25px;
        right:30PX;
        font-size: medium;
      }
      .Week
      {
        display:flex;
        gap:70px;    
        margin-top:30px;
    
      }

      .cover
      {
        margin: 40px;
        border-color: purple;
        background-color: purple;
        border-radius: 10px;
        height: 100px;
      }

    

  
  
    